<?xml version="1.0" encoding="UTF-8" ?>
<Context>
  <Resource
      name="jdbc/study"
      auth="Container"
      type="javax.sql.DataSource"
      driverClassName="com.mysql.jdbc.Driver"
      url="jdbc:mysql://mysql:3306/study"
      connectionProperties="autoReconnect=true;verifyServerCertificate=false;useSSL=false;requireSSL=false"
      username="system"
      password="system"
      validationQuery="select 1"/>
 </Context>